<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="org.apache.commons.digester" slot="2.1">
    <resources>
        <resource-root path="commons-digester-2.1.jar"/>
    </resources>
    <dependencies>
        <module name="javax.api"/>
        <module name="org.apache.commons.logging" />   
        <module name="org.apache.commons.beanutils" />  
    </dependencies>    
</module>