Package: openthinclient-manager
Version: 1.1.1-3
Architecture: i386
Maintainer: Francois Fernandes <f.fernandes@fernandes-it.de>
Installed-Size: 34377
Depends: openthinclient-server-ldap
Section: admin
Priority: optional
Description: OpenThinClient Manager
 The "OpenThinClient Manager" provides a powerful, Java-based graphical user
 interface to manage all aspects of the ThinClients under its control.
 Furthermore, it supports integration with enterprise-wide management
 environments like LDAP or MS ADS.
 .
 It is build as an "Enterprise Archive" (EAR) containing various modules to be
 deployed by the JBoss Application Server.
Is-Package-Manager: yes
