Package: openthinclient-server-ldap
Version: 1.1.1-1
Architecture: i386
Maintainer: Francois Fernandes <f.fernandes@fernandes-it.de>
Installed-Size: 4153
Section: net
Priority: optional
Description: OpenThinClient LDAP Server
 The "OpenThinClient LDAP Server" is a LDAP (Lightweight Directory Access
 Protocol) server. It provides a standalone directory service.
 The "OpenThinClient Manager" stores its configuration informations in a LDAP
 directory.
 .
 It is build as a "Service Archive" (SAR) to be deployed by the JBoss
 Application Server.
