Source: openthinclient-server-ldap
Section: net
Priority: optional
Maintainer: Francois Fernandes <f.fernandes@fernandes-it.de>

Package: openthinclient-server-ldap
Architecture: i386
Description: OpenThinClient LDAP Server
 The "OpenThinClient LDAP Server" is a LDAP (Lightweight Directory Access
 Protocol) server. It provides a standalone directory service.
 The "OpenThinClient Manager" stores its configuration informations in a LDAP
 directory.
 .
 It is build as a "Service Archive" (SAR) to be deployed by the JBoss
 Application Server.
